<header>
    <h1>Home</h1>
    <div>Welcome to My Article!</div>
</header>
<div class="group">
    <a href="/login" class="button primary-bg half">Log-in</a>
    <a href="/my-article" class="button primary-bg half">View My Article</a>
</div>
